<!doctype html> 
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]--> 
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]--> 
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]--> 
<head> 
    <meta charset="utf-8"> 
    <title>{% if page.title %}{{ page.title }}{% else %}Competitor Price Monitoring for e-commerce stores{% endif %} - SellerScout</title>
    <meta name="description" content="If you have been selling online long enough you will know that having the best price is the key to success."> 
    <meta name="keywords" content=""> 
    <meta name="author" content="Web Species Ltd"> 
	<link rel="stylesheet" href="/styles/style.css?{{site.time | date: '%Y%m%d%H%M%S'}}" /> 
    <script src="/vendors/modernizr-1.7.min.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script> 
</head>

<body>

  <div id="container">
    <header>
    	<span id="logo"><a href="/" class="menu-link"><img src="/images/logo.png" alt="SellerScout" width="248" height="113"/></a></span>
    	
		<nav>
			<ul id="menu">
				<li>
					<a href="/contact" title="Contact us"{% if page.section == 'contact' %} class="active"{% endif %}>Contact us</a>
				</li>
				<li>
					<a href="/" title="Competitor Price Monitoring for e-commerce stores"{% if page.section == 'home' %} class="active"{% endif %}>Home</a>
				</li>
				<li>
					<a href="/features" title="Features"{% if page.section == 'features' %} class="active"{% endif %}>Features</a>
				</li>
				<li>
					<a href="/questions" title="Questions"{% if page.section == 'questions' %} class="active"{% endif %}>Questions</a>
				</li>
		    </ul>
		</nav>
    </header>
    <div id="main" role="main">
        <div id="slides">
            {{ content }}
        </div>
    </div>
    <footer>
        <div id="copyright">
            <nav>
                <ul id="contacts">
                    <li>
                        <span>
                            SellerScout &copy; {{site.time | date: '%Y'}}
                        </span>
                    </li>
                    <li>
                        <span>
                            Tel.: +44 (0) 7818 496 282
                        </span>
                    </li>
                    <li>
                        <span>
                            E-mail: <a href="" class="sellerscout-email"></a>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="creator">
            <a href="http://webspecies.co.uk/"></a>
            <div>
                Product by <br />
                <a href="http://webspecies.co.uk/">Web Species</a>
            </div>
        </div>
    </footer>
  </div> <!--! end of #container -->

  <script src="/vendors/jquery-1.6.2.min.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
  <script>if ( typeof window.JSON === 'undefined' ) { document.write('<script src="/vendors/json2.js"><\/script>'); }</script>
  <script src="/vendors/history.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
  <script src="/vendors/history.adapter.jquery.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
  <script src="/vendors/jquery.scrollTo-1.4.2-min.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
  <script src="/scripts/scripts.js?{{site.time | date: '%Y%m%d%H%M%S'}}"></script>
	
  <script>
    var _gaq=[["_setAccount","UA-21529043-3"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>
